:root {
  --branding-color: #b3cac3;
  --brandingdark-color: #618381;
  --secondary-color: #cecdc8;
  --secondarydark-color: #999895;
}

/* Tag stylings */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 75px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  margin-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
}

p {
  opacity: 0.7;
  line-height: 27px;
  margin-bottom: 27px;
}

/* General stylings */

.bigtext {
  font-size: 35px;
}

.coloredline {
  text-decoration-color: var(--brandingdark-color);
  text-decoration-thickness: 3px;
}

.bold-and-opacity {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.7;
  margin-top: 25px;
}

.bg-branding-color {
  background: var(--branding-color);
}

.bg-secondary-color {
  background: var(--secondary-color);
}

/* buttons */

.btn {
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 20px;
  width: 155px;
}

.btn:hover {
  color: white;
}

.btn-branding-color {
  background: var(--brandingdark-color);
  border: 3px solid var(--brandingdark-color);
}

.btn-branding-color:hover {
  background: var(--branding-color);
}

.btn-secondary-color {
  background: var(--secondarydark-color);
  border: 3px solid var(--secondarydark-color);
}

.btn-secondary-color:hover {
  background: var(--secondary-color);
}

/* Component stylings */

nav {
  padding: 20px;
  margin-bottom: 5px;
  background-color: rgb(224, 224, 220);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 35px;
  margin-right: 12px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
.active a,
.logo .active {
  color: black;
  opacity: 0.9;
}

.logo a {
  font-weight: bold;
  border: 3px solid;
  padding: 5px;
  opacity: 0.5;
}

.textcard {
  background-color: var(--branding-color);
  padding: 10px 20px;
  margin: 0 0 40px 0;
  border-radius: 4px;
}

.textcardlight {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  margin: 0 0 40px 0;
  border-radius: 4px;
}

.titleelement {
  text-align: center;
  margin: 40px;
  text-underline-position: under;
}

.screenshot {
  border: solid 10px;
  border-color: white;
}

.mail {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

.mail:hover {
  color: white;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.awesomelink {
  color: black;
  background: var(--secondary-color);
  padding: 18px;
  font-size: 13px;
  border-radius: 50%;
}

.awesomelink:hover {
  color: var(--brandingdark-color);
  background-color: white;
  transition: all 150ms ease-in-out;
}

.contactpicture {
  border: solid 10px;
  border-color: white;
}

.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}

.footer a {
  color: var(--brandingdark-color);
}

/* hero */
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 100px 20px;
  margin: 0 0 40px 0;
}

/* media */
@media (max-width: 768px) {
  nav li {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .btn {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 495px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  .hero {
    padding: 55px 15px;
  }
  .bigtext {
    font-size: 25px;
  }
  .bold-and-opacity {
    font-size: 20px;
  }
  .mail {
    font-size: 20px;
  }
}

@media (max-width: 435px) {
  h1 {
    font-size: 42px;
  }
}

@media (max-width: 375px) {
  .logo {
    display: none;
  }
  .mail {
    font-size: 16px;
  }
}
@media (max-width: 325px) {
  nav {
    font-size: 13px;
  }
}
